
.profile-wrapper {
    width: 100%;
    .profile-picture {
        display: flex;
        margin: auto;
        background: #fff;
        height: 170px;
        width: 170px;
        border-radius: 50%;
        padding: 10px;
        transform: translateY(60px);
        border: 5px solid $primary_color;
        object-fit: cover;
        position: relative;
        z-index: 2;
        img {
            display: block;
            margin: auto;
            height: 100%;
            width: 100%;
            object-fit: scale-down;
        }
    }


    .profile-content {
        min-height: 100vh;
        padding-top: 60px;
        margin: auto;
        border-radius: 5px;
        box-shadow: rgba(178, 178, 178, 0.32) 1px -3px 6px 2px;
        width: 95%;
        backdrop-filter: blur(10px);
        position: relative;
        z-index: 1;
        @include md {
            width: 85%;
        }
        .user-info {
            margin: auto;
            width: 90%;

            @include md {
                width: 50%;
            }
            .username {
                font-size: 17px;
                text-align:center;
                margin-top: 5px;
            }
            .description {
                color: rgba(0,0,0, 0.6);
                font-size: 13px;
                text-align: center;
                line-height: 1;
                margin-top: 5px;
                font-weight: 500;
            }

            .location {
                    text-align: center;
                    margin: 10px;
                    font-size: 14px;
                    color: rgba(0,0,0, 0.5);
                    font-weight: 300;
                    .highlight {
                        font-weight: 700;
                        color: $primary_color;
                        cursor: pointer;
                    }
                }
        }

        .user-navbar {
            display: flex;
            width: 100%;
            background: $primary_color;
            color: #fff;
            margin-top: 15px;
            justify-content: center;
            ul {
                list-style: none;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                li {
                    font-weight: 700;
                    font-size: 14px;
                    letter-spacing: 0.8px;
                    a {
                        all: unset;
                        padding: 10px 10px;
                        display: block;
                        cursor: pointer;
                        &:hover, &.active {
                            background: #fff;
                            color: $primary_color;
                        }
                    }
                }
            }
        }
        .profile-content-wrapper {
            .profile-section {
                width: 80%;
                border: 1px solid #e8e9ea;
                margin: 40px auto;
                @include md {
                    width: 70%;
                }

                h1 {
                    padding: 5px 10px;
                    font-size: 20px;
                    line-height: 1.5;
                    margin: 0!important;
                    font-weight: 400;
                    color: $primary_color;
                }
                table {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    display: table;
                    border-collapse: separate;
                    border-spacing: 0;
                    border-width: 1px 0 0 1px;
                    tbody {
                         tr{
                             background: #fff0;
                            .field {
                                width: 180px;
                                vertical-align: middle;
                                min-height: 32px;
                                padding: 8px 10px;
                                font-weight: 700;
                                color: rgba(0,0,0,0.7);
                            }
                            .data {
                                min-height: 32px;
                                padding: 8px 10px;
                                display: inline-block;
                                position: relative;
                                font-weight: 700;
                                color: rgba(0,0,0,0.8);
                            }
                            .delete {
                                width: 330px;
                            }
                        }
                    }
                }
            }
        } /*/ profile-content-wrapper END /*/
    }
}
