$primary_color: #06607f;
$secondary_color: #1e73be;
$text_color: #525461;
$background: url('https://static.vecteezy.com/system/resources/previews/008/143/461/large_2x/winter-mountains-mid-century-modern-minimalist-art-print-abstract-mountain-contemporary-aesthetic-backgrounds-landscapes-illustrations-vector.jpg');
